@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap");

/* * {
  border: 1px dotted tomato;
} */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
}

/* .container3-parent,
.container5-parent {
  margin: 0 100px;
} */

/* CONTAINER #1 CONTENTS */
.container1-parent {
  background-color: #1f2937;
  padding: 14px 0;
}

.container1-child {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  color: #fff;
}

.header-content {
  display: flex;
  gap: 30px;
}

/* CONTAINER #2 CONTENTS */
.container2-background {
  background-color: #1f2937;
}

.container2-parent {
  display: flex;
  padding: 50px 100px;
  gap: 20px;
}

.container2-child {
  width: 50%;
  color: #fff;
}

.container2-child2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  color: #fff;
  width: 50%;
}

.awesome {
  font-size: 36px;
  font-weight: 600;
}

.container2-child button {
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 8px 20px 8px 20px;
  margin-top: 10px;
  font-weight: 600;
}

.image {
  display: flex;
  align-items: center;
}

/* CONTAINER #3 CONTENTS */
.container3-parent > div {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
}

.container3-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.box {
  display: flex;
  margin: 10px;
  padding: 50px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

/* CONTAINER #4 CONTENTS */
.container4-parent {
  background-color: #e5e7eb;
  padding: 100px 0;
}

.container4-child {
  margin: 0 200px;
}

.quote {
  font-style: italic;
  font-weight: 100;
  font-size: 36px;
}

.author {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  font-size: 24px;
  font-weight: 500;
}

/* CONTAINER #5 CONTENTS */
.container5-background {
  background-color: #3882f6;
  box-shadow: 2px 4px 16px lightgray;
  padding: 40px;
  margin: 40px 140px;
  border-radius: 5px;
}

.container5-parent {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.container5-parent button {
  padding: 5px 20px 5px 20px;
  margin: 10px 0 10px 0;
  background-color: #3882f6;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

.container5-child {
  color: #fff;
}

.container5-child > .text {
  font-size: 20px;
  font-weight: 600;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fff;
  height: 80px;
}
